<section class="bg">
    <div class="content">
        <div class="from-content">
            <h1>Inicio de sesión</h1>
            <form [formGroup]="loginForm" class="from" (ngSubmit)="submit()">
                <div class="from-list">
                    <input type="text" formControlName="username" id="username" placeholder="Usuario" autocomplete="off">
                </div>
                <div class="from-list">
                    <input type="password" formControlName="password" id="password" placeholder="Contraseña"
                        autocomplete="off">
                </div>
                <p class="error-message">Usuario y/o contraseña incorrecto</p>
                <div class="submit-btn">
                    <button id="login">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</section>