.general {
  width: 100%;
  display: flex;
}
.form {
  width: 20%;
  height: 300px;
  padding: 20px;
  border: 1px solid;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 25px;
}
.table {
  width: 75%;
  margin-top: 2%;
}
