.general {
    width: 100%;
  }
  .form {
    width: 20%;
    padding: 20px;
    border: 1px solid;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 25px;
  }
  .table {
    width: 75%;
  }
  .example-full-width {
    width: 100%;
  }
  
  .buttonSave {
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    text-align: center;
  }
  
  .buttonsForm {
    display: flex;
    justify-content: center;
  }
  