.full-width-table {
    width: 100%;
  }
  .table {
    height: 70%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .icon {
    cursor: pointer;
  }
  
  .searchInput {
    padding: 5px;
  }
  .searchDiv {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0px;
  }
  