<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: (isHandset$ | async) === false}" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="">Inicio</a>
      <a mat-list-item href="categories">Categorias</a>
      <a mat-list-item href="menus">Menus</a>
      <a mat-list-item href="ingredients">Ingredientes</a>
      <a mat-list-item (click)="logout()">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a *ngIf="(isHandset$ | async) === false" href="">Inicio</a>
      <a *ngIf="(isHandset$ | async) === false" href="categories">Categorias</a>
      <a *ngIf="(isHandset$ | async) === false" href="ingredients">Ingredientes</a>
      <a *ngIf="(isHandset$ | async) === false" href="menus">Menus</a>
      <a *ngIf="(isHandset$ | async) === false" (click)="logout()" class="right">Cerrar sesión</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>